@import "tailwindcss";

/* Base safe */
html,
body {
  height: 100%;
}

body {
  margin: 0;
}

/* (Optionnel) variables utiles si tu veux, mais sans écraser Tailwind */
:root {
  --cc-bg: #0b1220;
  --cc-fg: #ffffff;
}